* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#playground {
  background: #2e3131;
  height: 75%;
  width: 100%;
  position: relative;
}

#player {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background: #9b59b6;
}

#show {
  height: 25%;
  width: 100%;
  background: #f3f1ef;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input {
  width: 20vmin;
  height: 20vmin;
  font-size: 2em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #B3B4B4;
  color: #B3B4B4;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.left .left, .down .down, .up .up, .right .right {
  border-color: #2e3131;
  color: #2e3131;
}
